   body {
       margin: 0;
       padding: 0;
       font-family: 'Raleway', sans-serif;
       display: flex;
       flex-direction: column;
       background-color: #F6F5EA;
       min-height: 100%;
   }
   
   .container {
       width: 1140px;
       padding: 0 15px;
       margin: 0 auto;
   }
   /* панель навигации */
   
   .navigation {
       margin-top: 15px;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   
   .navigation_right_side {
       width: 255px;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   
   .navigation_logotip {}
   
   .navigation_logotip_img {}
   /* ссылки в панели навигации*/
   
   .navigation_link {
       text-align: center;
       display: flex;
       justify-content: space-between;
       width: 350px;
   }
   
   .navigation_link_shop {
       width: 65px;
       font-size: 16px;
       color: #312921;
       text-decoration: none;
       transition: 0.3s;
   }
   
   .navigation_link_shop:hover {
       font-weight: 700;
   }
   
   .navigation_link_about_us {
       width: 65px;
       font-size: 16px;
       color: #312921;
       text-decoration: none;
       transition: 0.3s;
   }
   
   .navigation_link_about_us:hover {
       font-weight: 700;
   }
   
   .navigation_link_articles {
       width: 65px;
       font-size: 16px;
       color: #312921;
       text-decoration: none;
       transition: 0.3s;
   }
   
   .navigation_link_articles:hover {
       font-weight: 700;
   }
   
   .navigation_link_help {
       width: 65px;
       font-size: 16px;
       color: #312921;
       text-decoration: none;
       transition: 0.3s;
   }
   
   .navigation_link_help:hover {
       font-weight: 700;
   }
   
   .navigation_basket {}
   
   .navigation_basket_img {
       transition-duration: .3s;
   }
   
   .navigation_basket_img:hover {
       transform: scale(1.1);
   }
   /* кнопка личный кабинет */
   
   .navigation_login {
       border-radius: 50px;
       width: 160px;
       height: 30px;
       background: #312921;
       transition: 0.3s;
   }
   
   .navigation_login_button {
       text-decoration: none;
       display: flex;
       align-items: center;
       justify-content: center;
       width: 160px;
       height: 30px;
       border-radius: 50px;
       font-size: 14px;
       color: #C6C3B3;
       transition: 0.3s;
   }
   
   .navigation_login:hover {
       background: none;
       box-shadow: 1px 0px 17px 0px #312921;
   }
   
   .navigation_login_button:hover {
       color: #312921;
   }
   /* первый экран банер */
   
   .display_one {
       align-self: center;
       margin-top: 20px;
       height: 647px;
       background-repeat: no-repeat;
   }
   
   .display_one_bacgraund {}
   
   .display_one_bacgraund_img {
       position: absolute;
       z-index: -1;
   }
   
   .display_one_box_text_and_button {
       width: 540px;
       height: 100%;
       display: flex;
       flex-direction: column;
       align-items: flex-end;
       justify-content: center;
   }
   
   .display_one_title {
       width: 455px;
       font-size: 64px;
       font-weight: 800;
   }
   
   .display_one_more_detailed {
       margin-left: 90px;
       align-self: flex-start;
       margin-top: 50px;
       border-radius: 50px;
       width: 255px;
       height: 55px;
       background: #312921;
       transition: 0.5s;
   }
   
   .display_one_more_detailed_button {
       text-decoration: none;
       display: flex;
       align-items: center;
       justify-content: center;
       width: 255px;
       height: 55px;
       border-radius: 50px;
       font-size: 22px;
       font-weight: 300;
       color: #C6C3B3;
       transition: 0.5s;
   }
   
   .display_one_more_detailed:hover {
       background: none;
       box-shadow: 1px 0px 17px 0px #312921;
   }
   
   .display_one_more_detailed_button:hover {
       color: #312921;
   }
   /* каталог */
   
   .display_two_catalog {
       margin-top: 40px;
   }
   
   .display_two_catalog_title {
       font-size: 24px;
       font-weight: 700;
       margin-bottom: 20px;
   }
   
   .display_two_catalog_box {
       display: flex;
       justify-content: space-between;
   }
   
   .display_two_catalog_box_section {
       display: flex;
       flex-direction: column;
       width: 255px;
   }
   
   .display_two_catalog_box_section_name {
       margin: 5px 0;
       text-decoration: none;
       color: #312921;
       font-size: 18px;
       transition: 0.3s;
   }
   
   .display_two_catalog_box_section_name:hover {
       font-weight: 700;
   }
   
   .display_two_catalog_box_items {
       width: 825px;
       justify-content: space-between;
       display: flex;
       flex-wrap: wrap;
   }
   /* первый товар */
   
   .display_two_catalog_box_items_elment {
       border-radius: 20px;
       margin: 15px 5px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       width: 245px;
       height: 410px;
       box-shadow: 0px 0px 15px -10px #000000;
       padding: 10px;
       transition: 0.3s;
   }
   
   .display_two_catalog_box_items_elment:hover {
       transform: scale(1.02);
       box-shadow: 0px 0px 15px -7px #000000;
   }
   
   .display_two_catalog_box_items_elment_img {
       margin: 0 auto;
   }
   
   .display_two_catalog_box_items_elment_img_style {
       width: 240px;
   }
   
   .display_two_catalog_box_items_elment_price {
       font-size: 24px;
       font-weight: 300;
   }
   
   .display_two_catalog_box_items_elment_name {
       font-size: 18px;
       font-weight: 500;
   }
   
   .display_two_catalog_box_items_elment_description {
       font-size: 12px;
       font-weight: 400;
       color: #60564D;
   }
   
   .display_two_catalog_box_items_elment_box_button {
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   
   .display_two_catalog_box_items_elment_box_button_buy {
       width: 165px;
       height: 35px;
       background-color: #312921;
       font-size: 16px;
       border-radius: 50px;
   }
   
   .display_two_catalog_box_items_elment_box_button_buy_link {
       text-decoration: none;
       color: #C6C3B3;
       display: flex;
       align-items: center;
       justify-content: center;
       width: 165px;
       height: 35px;
       transition: 0.5s;
       border-radius: 50px;
   }
   
   .display_two_catalog_box_items_elment_box_button_buy_link:hover {
       box-shadow: 1px 0px 17px 0px #312921;
   }
   
   .display_two_catalog_box_items_elment_box_button_basket {
       transition: 0.5s;
   }
   
   .display_two_catalog_box_items_elment_box_button_basket:hover {
       transform: scale(1.1);
   }
   
   .display_two_catalog_box_items_elment_button {
       margin-top: -30px;
       width: 240px;
       height: 35px;
       border: 2px solid #312921;
       background-color: none;
       font-size: 22px;
       border-radius: 50px;
   }
   
   .display_two_catalog_box_items_elment_button_link {
       text-decoration: none;
       display: flex;
       align-items: center;
       justify-content: center;
       width: 240px;
       height: 35px;
       border-radius: 50px;
       font-size: 16px;
       font-weight: 400;
       color: #312921;
       transition: 0.5s;
   }
   
   .display_two_catalog_box_items_elment_button_link:hover {
       color: #F6F5EA;
       background-color: #312921;
   }
   
   .footer {
       margin-top: 40px;
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
   }
   
   .footer_bacgraund {
       margin-top: 40px;
       height: 120px;
       width: 100%;
       background-color: #312921;
   }
   
   .footer_logo {}
   
   .footer_copyright {
       color: #897A6B;
       font-size: 12px;
   }
   /* REGISTER */
   
   .register {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 20px;
       width: 410px;
       height: auto;
       padding: 20px 0;
       border-radius: 25px;
       /*box-shadow: 0px 0px 9px 1px #C7C4A1;*/
   }
   
   .register_title {
       font-size: 24px;
       font-weight: 500;
       margin-bottom: 20px;
   }
   
   .register_error {
       margin-bottom: -10px;
       color: tomato;
       font-size: 12px;
       height: 15px;
       width: 255px;
       font-weight: 600;
   }
   
   .register_username {
       font-family: 'Raleway', sans-serif;
       padding: 0 10px;
       color: #312921;
       border: 0px solid #312921;
       border-radius: 50px;
       width: 245px;
       height: 30px;
       background: #eed2bd;
   }
   
   .register_username:focus {
       background: #E0B597;
   }
   
   .register_password {
       font-family: 'Raleway', sans-serif;
       padding: 0 10px;
       color: #312921;
       border: 0px solid #312921;
       border-radius: 50px;
       width: 245px;
       height: 30px;
       background: #eed2bd;
   }
   
   .register_password:focus {
       background: #E0B597;
   }
   
   .keep_register {
       width: 255px;
       font-size: 14px;
   }
   
   .register_box_button {
       width: 255px;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   
   .register_button_login {
       font-size: 14px;
       color: #312921;
   }
   
   .register_button {}
   
   .register_button_input {
       font-family: 'Raleway', sans-serif;
       font-size: 14px;
       border: 0px;
       color: #C6C3B3;
       border-radius: 50px;
       width: 160px;
       height: 30px;
       background: #312921;
       transition: 0.3s;
   }
   
   .register_button_input:hover {
       background: none;
       box-shadow: 1px 0px 17px 0px #312921;
       color: #312921;
   }
   /* LOGIN */
   
   .login {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 130px;
       width: 410px;
       height: auto;
       padding: 20px 0;
       border-radius: 25px;
   }
   
   .login_title {
       font-size: 24px;
       font-weight: 500;
       margin-bottom: 20px;
   }
   
   .login_error {
       margin-bottom: -10px;
       color: tomato;
       font-size: 12px;
       height: 15px;
       width: 255px;
       font-weight: 600;
   }
   
   .login_username {
       font-family: 'Raleway', sans-serif;
       padding: 0 10px;
       color: #312921;
       border: 0px solid #312921;
       border-radius: 50px;
       width: 245px;
       height: 30px;
       background: #eed2bd;
   }
   
   .login_username:focus {
       background: #E0B597;
   }
   
   .login_password {
       font-family: 'Raleway', sans-serif;
       padding: 0 10px;
       color: #312921;
       border: 0px solid #312921;
       border-radius: 50px;
       width: 245px;
       height: 30px;
       background: #eed2bd;
   }
   
   .login_password:focus {
       background: #E0B597;
   }
   
   .keep_login {
       width: 255px;
       font-size: 14px;
   }
   
   .login_box_button {
       width: 255px;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   
   .login_button_register {
       font-size: 14px;
       color: #312921;
   }
   
   .login_button {}
   
   .login_button_input {
       font-family: 'Raleway', sans-serif;
       font-size: 14px;
       border: 0px;
       color: #C6C3B3;
       border-radius: 50px;
       width: 160px;
       height: 30px;
       background: #312921;
       transition: 0.3s;
   }
   
   .login_button_input:hover {
       background: none;
       box-shadow: 1px 0px 17px 0px #312921;
       color: #312921;
   }
   /* капча */
   
   .register_captcha {
       width: 255px;
       flex-direction: column;
       align-items: center;
       display: flex;
   }
   
   .register_captcha_img {
       margin-bottom: 20px;
       width: 180px;
   }
   
   .register_captcha_input {
       font-family: 'Raleway', sans-serif;
       padding: 0 10px;
       color: #312921;
       border: 0px solid #312921;
       border-radius: 25px;
       width: 160px;
       height: 30px;
       font-size: 12px;
       background: #eed2bd;
   }